---
import { Image } from '@astrojs/image/components';
---

<aside class='menu w-24 bg-zinc-500 p-2 rounded-box place-self-center'>
    <ul>
        <li>
            <a href='https://www.etsy.com/uk/shop/NightingaleKnitsGB' target='_blank'
                ><Image
                    src='https://img.icons8.com/fluency-systems-filled/96/000000/shopping-bag-full.png'
                    alt='shopping bag icon'
                    width={48}
                    height={48}
                    format='webp'
                />
            </a>
        </li>
        <li>
            <a href='mailto:sammy@nightingaleknits.com' target='_blank'
                ><Image
                    src='https://img.icons8.com/fluency-systems-filled/96/000000/new-post.png'
                    alt='email icon'
                    width={48}
                    height={48}
                    format='webp'
                />
            </a>
        </li>
        <li>
            <a href='https://instagram.com/nightingale.knits' target='_blank'
                ><Image
                    src='https://img.icons8.com/fluency-systems-filled/96/000000/instagram-new.png'
                    alt='instagram icon'
                    width={48}
                    height={48}
                    format='webp'
                />
            </a>
        </li>
        <li>
            <a href='https://www.facebook.com/nightingaleknitsgb/' target='_blank'
                ><Image
                    src='https://img.icons8.com/fluency-systems-filled/96/000000/facebook-new.png'
                    alt='facebook icon'
                    width={48}
                    height={48}
                    format='webp'
                />
            </a>
        </li>
        <li>
            <a href='https://twitter.com/nightingaleknts' target='_blank'
                ><Image
                    src='https://img.icons8.com/fluency-systems-filled/96/000000/twitter.png'
                    alt='twitter icon'
                    width={48}
                    height={48}
                    format='webp'
                />
            </a>
        </li>
    </ul>
</aside>
